<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
  <title>My Parse App</title>
  <meta name="description" content="My Parse App">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/styles.css">
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script type="text/javascript" src="http://www.parsecdn.com/js/parse-latest.js"></script>
  </head>
<body>
  <div id="post-details">
        <h1 id="p1"></h1>
        <h1 id="p2"><h1>
        <h1 id="p3"><h1> 
    </div>
    <script type="text/javascript">
    Parse.initialize("dMRtXwbJUICELwaePXQ2fn8RXVrWt8kTbexj76pL", "8rgprDG1ZYtYuzFLAVsJQEmEa2Qism1mu8s14C1V");    
    var class1_object = Parse.Object.extend("class1");
    var class2_object = Parse.Object.extend("class2");

    /*$("#show-info").on("click","a",function(event){
        event.defaultPrevented();
        var id = $(this).attr("href");
        var query = new Parse.Query(class1_object);
        query.equalTo("objectId",id);
        query.include("pointer"); 
        query.find({
          success: function(results){
              var output="";
              var username = results[0].get("username");
              var link = results[0].get("pointer");
           
              var moviename = link.get("moviename");
              var movierating = link.get("movierating");
              var moviecomment = link.get("moviecomment");
          
              var id = link.id;
              /*$("#p1").html(moviename);
              $("#p2").html(movierating);
              $("#p3").html(moviecomment);

            output+="<li>";
            output+="<h4>"+moviename+"</h4>";
            output+="<h4>"+movierating+"</h4>";
            output+="<h4>"+moviecomment+"</h4>";
            output+="</li>";

            $("#post-details").attr("data-id",id);  
            $("#post-details").html(output);   
          }, error: function(error){
            console.log("Query Error: "+error.message);
          }
        });
    });*/
function getMovies(){
      var query = new Parse.Query(class2_object);
      query.find({     
        success: function(results){
          var output="";
            for(var i in results){

            var name = results[i].get("moviename");
            var rate = results[i].get("movierating");
            var comm = results[i].get("moviecomment");
            /*var pointer_to_other_class = results[i].get("pointer");*/
            /*var id = pointer_to_other_class.id;*/
            /*alert(name);*/

              $("#p1").html(name);
              $("#p2").html(rate);
              $("#p3").html(comm);
          }
          /*$("#post-details").html(output);*/
        }, error: function(error){
          console.log("Query Error: "+error.message);
        }
      });
    }
    getMovies();
    </script>
</body>
</html>